In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [64]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [65]:
data_2017

,Date (UTC),Country,Region,Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact coefficient (D),buildings damaged,buildings destroyed,Tsunami height
0,1/2/2017,Italy,Umbria,4.1,8.0,V,0.0,0.0,30.0,0.194401,NaN,0.0,--
1,1/3/2017,India,Tripura,5.5,35.0,NaN,3.0,49.0,600.0,1.668774,1456.0,166.0,--
2,1/3/2017,Brazil,Maranhao,4.6,NaN,NaN,0.0,0.0,0.0,0.752967,500.0,0.0,--
3,1/3/2017,Fiji,Western Division (OS),7.2,16.0,IV,0.0,0.0,0.0,0.000000,0.0,0.0,1 cm
4,1/6/2017,Iran,Fars,5.1,4.0,NaN,4.0,4.0,905.0,1.447852,400.0,40.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,12/21/2017,Iran,Kerman,5.2,NaN,NaN,0.0,42.0,8550.0,2.363290,500.0,1700.0,--
275,12/22/2017,Mexico,Veracruz,4.3,NaN,NaN,0.0,0.0,0.0,0.019789,5.0,0.0,--
276,12/25/2017,Iran,Kerman (aftershock),4.7,7.0,NaN,0.0,5.0,NaN,0.414190,NaN,10.0,--
277,12/26/2017,Iran,Tehran (aftershock),4.2,13.0,NaN,1.0,75.0,0.0,1.326521,0.0,0.0,--
278,12/27/2017,Iran,Kerman (aftershock),5.1,9.0,NaN,0.0,1.0,NaN,0.099031,NaN,NaN,--

In [66]:
data_2018

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,1/2/2018,Greece,Central Macedonia,4.7,Earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.056990,15.0,0.0,--
1,1/2/2018,Canada,Alberta,2.0,Cryoseism,weather,NaN,NaN,0.0,0.0,0.0,0.012012,3.0,0.0,--
2,1/2/2018,India,Maharashtra,3.2,EQ Swarm,tectonic,NaN,NaN,0.0,0.0,NaN,0.422473,176.0,0.0,--
3,1/2/2018,Algeria,Blida,5.1,Earthquake,tectonic,10.0,V,0.0,2.0,NaN,0.181194,1.0,NaN,--
4,1/3/2018,El Salvador,OS La Libertad,5.1,Earthquake,tectonic,80.0,V,0.0,0.0,0.0,0.015943,4.0,0.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,12/26/2018,Italy,Sicily,4.9,Earthquake,volcanic,1.0,VIII,0.0,28.0,1096.0,1.959269,5048.0,505.0,--
294,12/27/2018,Venezuela,Carabobo,5.5,Earthquake,tectonic,10.0,VII,NaN,NaN,NaN,0.286641,100.0,NaN,--
295,12/28/2018,Indonesia,Papua Barat,5.7,Earthquake,tectonic,41.0,NaN,0.0,0.0,0.0,0.019839,5.0,0.0,--
296,12/29/2018,Mexico,Nuevo Leon,4.2,Earthquake,NaN,NaN,NaN,NaN,NaN,NaN,0.012012,3.0,NaN,--
297,12/30/2018,Thailand,Kanchanaburi,4.9,Earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.004041,1.0,0.0,--

In [67]:
data_2019=data_2019.drop(['Lat','Long'], axis=1)
data_2019

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,1/1/2019,Italy,Abruzzo,4.1,earthquake,tectonic,17.0,V,0.0,0.0,0.0,0.027151,7.0,0.0,--
1,1/3/2019,Mexico,Veracruz,4.2,earthquake,tectonic,5.0,NaN,0.0,0.0,0.0,0.030895,8.0,0.0,--
2,1/3/2019,China,Sichuan,5.3,aftershock,tectonic,15.0,VII,0.0,1.0,251.0,1.150904,753.0,44.0,--
3,1/3/2019,Japan,Kumamoto,5.0,aftershock,tectonic,10.0,6-,0.0,3.0,0.0,0.261225,7.0,0.0,--
4,1/4/2019,Albania,Vlore,4.8,earthquake,tectonic,28.0,NaN,0.0,0.0,0.0,0.019565,5.0,0.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,12/27/2019,Iran,Bushehr,4.9,earthquake,tectonic,10.0,NaN,0.0,0.0,0.0,0.019565,5.0,0.0,--
321,12/27/2019,Turkey,Elazig,4.9,earthquake,tectonic,5.0,NaN,0.0,0.0,0.0,0.032216,5.0,1.0,--
322,12/28/2019,USA,Puerto Rico,4.7,EQ swarm,tectonic,6.0,V,0.0,0.0,0.0,0.011845,3.0,0.0,--
323,12/30/2019,Iran,Hormozgan,5.4,earthquake,tectonic,NaN,NaN,0.0,4.0,5.0,0.335912,NaN,2.0,--
324,12/30/2019,Pakistan,Gilgit-Baltistan,5.4,earthquake,tectonic,NaN,NaN,NaN,NaN,100.0,0.710722,250.0,NaN,--

In [68]:
data_2020=data_2020.drop(['Lat','Long'], axis=1)
data_2020

,Date (UTC),Epicenter,Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,1/2/2020,Iran,Ravazi-Chorasan,5.8,earthquake,tectonic,8.0,NaN,0,1,100.0,0.609547,100.0,2.0,--
1,1/3/2020,India,Gujarat,3.2,earthquake,tectonic,NaN,NaN,0,0,0.0,0.019548,5.0,0.0,--
2,1/3/2020,Ecuador,El Oro,5.0,earthquake,tectonic,60.0,NaN,0,0,0.0,0.003981,1.0,0.0,--
3,1/5/2020,Mexico,Oaxaca,5.8,earthquake,tectonic,97.0,VI,0,0,NaN,0.487388,225.0,NaN,--
4,1/6/2020,USA,Puerto Rico,5.8,EQ sequence,tectonic,6.0,NaN,0,0,5.0,0.294345,75.0,6.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,3/13/2020,India,Kerala,2.8,earthquake,reservoir induced,NaN,NaN,0,0,0.0,0.038254,10.0,0.0,--
76,3/13/2020,Tanzania,Tanga,4.8,earthquake,tectonic,15.0,NaN,0,0,0.0,0.007925,2.0,0.0,--
77,3/14/2020,Iran,Qom,4.0,earthquake,tectonic,10.0,NaN,0,0,0.0,0.038254,10.0,0.0,--
78,3/15/2020,Iran,Hormozgan,5.4,earthquake,tectonic,16.0,NaN,0,2,NaN,0.235972,20.0,1.0,--
79,3/16/2020,India,Rajasthan,3.1,earthquake,tectonic,NaN,NaN,0,0,0.0,0.007925,2.0,0.0,--

In [69]:
data_2017.rename(columns={'Country':'Country (Epicenter)','Region':'Region (Epicenter)'},inplace=True)
data_2020.rename(columns={'Epicenter':'Country (Epicenter)'}, inplace=True)

In [70]:

Pickle=pd.concat([data_2017,data_2018,data_2019,data_2020], ignore_index=True)
Pickle

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact coefficient (D),buildings damaged,buildings destroyed,Tsunami height,Type,Origin,Impact value (D)
0,1/2/2017,Italy,Umbria,4.1,8.0,V,0.0,0.0,30.0,0.194401,NaN,0.0,--,NaN,NaN,NaN
1,1/3/2017,India,Tripura,5.5,35.0,NaN,3.0,49.0,600.0,1.668774,1456.0,166.0,--,NaN,NaN,NaN
2,1/3/2017,Brazil,Maranhao,4.6,NaN,NaN,0.0,0.0,0.0,0.752967,500.0,0.0,--,NaN,NaN,NaN
3,1/3/2017,Fiji,Western Division (OS),7.2,16.0,IV,0.0,0.0,0.0,0.000000,0.0,0.0,1 cm,NaN,NaN,NaN
4,1/6/2017,Iran,Fars,5.1,4.0,NaN,4.0,4.0,905.0,1.447852,400.0,40.0,--,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,3/13/2020,India,Kerala,2.8,NaN,NaN,0.0,0.0,0.0,NaN,10.0,0.0,--,earthquake,reservoir induced,0.038254
978,3/13/2020,Tanzania,Tanga,4.8,15.0,NaN,0.0,0.0,0.0,NaN,2.0,0.0,--,earthquake,tectonic,0.007925
979,3/14/2020,Iran,Qom,4.0,10.0,NaN,0.0,0.0,0.0,NaN,10.0,0.0,--,earthquake,tectonic,0.038254
980,3/15/2020,Iran,Hormozgan,5.4,16.0,NaN,0.0,2.0,NaN,NaN,20.0,1.0,--,earthquake,tectonic,0.235972
981,3/16/2020,India,Rajasthan,3.1,NaN,NaN,0.0,0.0,0.0,NaN,2.0,0.0,--,earthquake,tectonic,0.007925

In [71]:
lister=['Date (UTC)','Country (Epicenter)','Magnitude', 'Depth (km)','Intensity (MMI / JMA)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
Raw=Pickle[lister]
test=Raw

In [72]:
lister=['Magnitude', 'Depth (km)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
def conversion(title,column):
    #title[column]=title[column].str.replace(',','.')
    #title[column]=title[column].str.replace('#',' ')
    #title[column]=title[column].str.strip('/')
    title[column]=title[column].fillna(0)
    title[column]=pd.to_numeric(title[column])
    return(title)

def where(title,column):
    return (title[pd.to_numeric(title[column], errors='coerce').isnull()])

for i in range(1,len(lister)):
    test=conversion(test,lister[i])

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [73]:
Raw

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,1/2/2017,Italy,4.1,8.0,V,0.0,0.0,30.0,0.0,0.0
1,1/3/2017,India,5.5,35.0,NaN,3.0,49.0,600.0,1456.0,166.0
2,1/3/2017,Brazil,4.6,0.0,NaN,0.0,0.0,0.0,500.0,0.0
3,1/3/2017,Fiji,7.2,16.0,IV,0.0,0.0,0.0,0.0,0.0
4,1/6/2017,Iran,5.1,4.0,NaN,4.0,4.0,905.0,400.0,40.0
...,...,...,...,...,...,...,...,...,...,...
977,3/13/2020,India,2.8,0.0,NaN,0.0,0.0,0.0,10.0,0.0
978,3/13/2020,Tanzania,4.8,15.0,NaN,0.0,0.0,0.0,2.0,0.0
979,3/14/2020,Iran,4.0,10.0,NaN,0.0,0.0,0.0,10.0,0.0
980,3/15/2020,Iran,5.4,16.0,NaN,0.0,2.0,0.0,20.0,1.0
981,3/16/2020,India,3.1,0.0,NaN,0.0,0.0,0.0,2.0,0.0

In [88]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date (UTC)             960 non-null    object
 1   Country (Epicenter)    960 non-null    object
 2   Magnitude              961 non-null    float64
 3   Depth (km)             982 non-null    float64
 4   Intensity (MMI / JMA)  257 non-null    object
 5   Fatalities             982 non-null    float64
 6   Injuries               982 non-null    float64
 7   displaced              982 non-null    float64
 8   buildings damaged      982 non-null    float64
 9   buildings destroyed    982 non-null    float64
dtypes: float64(7), object(3)
memory usage: 76.8+ KB

In [89]:

test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('+',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('-',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('JMA',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('/ 7',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('Shindo ','')
grindle=test['Intensity (MMI / JMA)']

for i in grindle:
    print(i,type(i))
    #if type(i)==str:
    #    if len(i)>4:
    #        print(len(i),i[0:len(i)//2])
    #    else:
    #        print(len(i),i)
    #else:
    #    pass

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

V <class 'str'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
V  <class 'str'>
nan <class 'float'>
VI <class 'str'>
IV <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VI  <class 'str'>
VII  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
VI <class 'str'>
VII <class 'str'>
VII <class 'str'>
V <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
VI  <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VI  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
V  <class 'str'>
5  <class 'str'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
5  <class 'str'>
5  <class 'str'>
nan <class 'float'>
nan <class 'float'>
V  <class 'str'>
VII <class 'str'>
VII <class 'str'>
VII <class 'str'>
nan <class 'float'>
5  <class 'str'>
IV <class 'str'>
nan <class 'float'>
V <class 'str'>
V <class 'str'>
nan <class 'float'>
VIII <class 'str'>
V <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
V  <class 'str'>
VI <class 'str'>
nan <class 'float'>
IX <class 'str'>
VIII <class 'str'>
V <class 'str'>
V <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
IX <class 'str'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VII <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
VII <class 'str'>
V <class 'str'>
IV <class 'str'>
VI  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VI <class 'str'>
nan <class 'float'>
VI <class 'str'>
IV <class 'str'>
IV <class 'str'>
VIII <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
V <class 'str'>
nan <class 'float'>
V <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VIII <class 'str'>
VI <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
IX <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
IX <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
5  <class 'str'>
nan <class 'float'>
VI <class 'str'>
VI <class 'str'>
VI <class 'str'>
V <class 'str'>
IV <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
5  <class 'str'>
V <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
5  <class 'str'>
6  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
5 <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
VIII <class 'str'>
IV <class 'str'>
V <class 'str'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
VII <class 'str'>
nan <class 'float'>
VII <class 'str'>
VII <class 'str'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VIII <class 'str'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
X   <class 'str'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VII <class 'str'>
nan <class 'float'>
IV <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
VII <class 'str'>
IV <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
6 <class 'str'>
V <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VII  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
VII <class 'str'>
6  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VI  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
  6  <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
VII <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
VII <class 'str'>
VI <class 'str'>
VII <class 'str'>
nan <class 'float'>
VII <class 'str'>
5  <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
IV   V <class 'str'>
V   VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
6   <class 'str'>
VII <class 'str'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
IX <class 'str'>
VI <class 'str'>
VIII <class 'str'>
VI <class 'str'>
V <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
VI <class 'str'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
III <class 'str'>
V <class 'str'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>

nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
VII <class 'str'>
V <class 'str'>
V <class 'str'>
VI <class 'str'>
VIII <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
V <class 'str'>
nan <class 'float'>
V <class 'str'>
VII <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
V <class 'str'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
IV <class 'str'>
IV <class 'str'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
VIII <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VI <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
VII <class 'str'>
nan <class 'float'>
nan <class 'float'>
V <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>

In [87]:
def roman_to_number(num):
    rom_val = {'I': 1, 'V': 5, 'X': 10, 'L':50 , 'C':100, 'D':500, 'M':1000}
    res=0
    i=0
    while i<len(num):
        s1=num[i]
        num1=rom_val[s1]
        if i+1<len(num):
            s2=num[i+1]
            num2=rom_val[s2]
            if num2<=num1:
                res=res+num1
                i+=1
            else:
                res=res+num2-num1
                i+=2
        else:
            res=res+num1
            i+=1
    return(res)
        
    
                
roman_to_number('IX')

9