In [118]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [119]:
past=pd.read_excel('Earthquake raw data.xlsx')

In [166]:
lister=['Country (Epicenter)','Mw/ ML', 'Depth (km)','Intensity (MMI / JMA)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed','Financial losses ($)']
Raw=past[lister]
test=Raw

In [162]:
lister=['Country (Epicenter)','Mw/ ML', 'Depth (km)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed','Financial losses ($)']
def conversion(title,column):
    title[column]=title[column].str.replace(',','.')
    title[column]=title[column].str.replace('#',' ')
    #title[column]=title[column].str.strip('/')
    title[column]=title[column].fillna(0)
    title[column]=pd.to_numeric(title[column])
    return(title)

def where(title,column):
    return (title[pd.to_numeric(title[column], errors='coerce').isnull()])

where(test,'buildings damaged')

,Country (Epicenter),Mw/ ML,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed,Financial losses ($)
34,Poland,4.6,1,NaN,0,15,0,NaN,0,NaN
112,India,5.9,14,VII,0,0,0,NaN,10,NaN
114,Papua New Guinea,7.2,127,VII,0,NaN,500,NaN,130,NaN
142,China,5.4,10,NaN,0,31,NaN,NaN,4,NaN
146,Indonesia,7.3,208,NaN,0,0,0,NaN,NaN,NaN
149,#Sudan,NaN,NaN,NaN,#12,#12,#250,NaN,#100,NaN
155,China,5.6,8,NaN,0,16,NaN,NaN,NaN,NaN
156,USA,6.4,11,NaN,0,10,NaN,NaN,NaN,NaN
206,Poland,4.1,1,NaN,0,1,NaN,NaN,0,NaN
220,India,NaN,NaN,NaN,0,0,100,NaN,1,NaN
222,Iran,"4,4",10,NaN,0,2,NaN,NaN,NaN,NaN
231,Pakistan,"4,7",6,NaN,0,92,0,NaN,NaN,NaN
235,Chile,"6,7",24,NaN,1,0,0,NaN,NaN,NaN
238,Poland,"2,6",1,NaN,1,8,0,NaN,0,NaN
262,DR Congo,"5,3",NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
265,Iran,"4,3",2,NaN,NaN,NaN,NaN,NaN,2,NaN
325,Iran,"5,4",NaN,NaN,0,4,5,NaN,2,NaN
360,Turkey,4.8,NaN,NaN,0,0,NaN,NaN,3,NaN
414,USA,5.7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,Iran,5.1,8,NaN,0,51,NaN,NaN,NaN,NaN
425,Myanmar,5.5,0,NaN,0,0,4,NaN,1,NaN
429,NaN,7.5,NaN,NaN,0,0,0,NaN,NaN,NaN
431,NaN,7.5,NaN,NaN,0,0,0,NaN,NaN,NaN
432,NaN,7.5,NaN,NaN,0,0,0,NaN,NaN,NaN
433,Iran,4.7,NaN,NaN,0,0,NaN,NaN,4,NaN
452,NaN,6.2,NaN,NaN,1,6,NaN,NaN,NaN,NaN
477,Papua New Guinea,6.1,16,NaN,/1,NaN,NaN,NaN,NaN,NaN
479,Papua New Guinea,6,NaN,NaN,/11,NaN,NaN,NaN,NaN,NaN
481,Papua New Guinea,6.7,NaN,NaN,/25,NaN,NaN,NaN,NaN,NaN
487,NaN,5.6,NaN,NaN,0,10,2,NaN,1,NaN
494,India,4.7,NaN,NaN,0,0,2,NaN,1,NaN
508,Papua New Guinea,6.3,NaN,NaN,4,50,NaN,NaN,100,NaN
510,India,NaN,0,NaN,0,1,30,NaN,6,NaN
535,Iran,4.8,5,NaN,0,130,NaN,NaN,NaN,NaN
538,Pakistan,5.4,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN
567,#Indonesia,"#5,5",#10,NaN,#0,#3,#200,#32,#86,NaN
568,Pakistan,5.2,NaN,NaN,0,NaN,NaN,NaN,15,NaN
601,Indonesia,6.5,24,VIII,/20,/424,/10170,/10393,/9836,45000000.0
604,Indonesia,6.8,13,VIII,/540,/7773,/417529,/39946,/32016,410000000.0
607,Indonesia,5.9,NaN,VII,/3,/24,NaN,NaN,NaN,55000000.0
618,Indonesia,6.3,8,VII,/2,/1,NaN,/646,/1054,NaN
619,Indonesia,6.8,NaN,VIII,/18,/24,/3717,NaN,/2000,NaN
631,Iran,4.9,5,NaN,0,1,NaN,NaN,NaN,NaN
654,Poland,3,1,NaN,0,1,0,NaN,NaN,NaN
661,Indonesia,6,10,NaN,0,10,NaN,NaN,10,NaN
671,Papua New Guinea,7,40,VII,1,NaN,NaN,NaN,NaN,NaN
674,China,4.5,NaN,NaN,0,1,NaN,NaN,NaN,NaN
684,Indonesia,4.9,NaN,NaN,0,12,NaN,NaN,NaN,NaN
687,Indonesia,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,Indonesia,5.2,NaN,NaN,0,2,NaN,NaN,NaN,NaN
703,Iran,4.7,20,NaN,0,1,NaN,NaN,NaN,NaN
708,NaN,6.3,NaN,NaN,2,102,NaN,NaN,NaN,NaN
710,Venezuela,4.4,NaN,NaN,0,2,0,NaN,0,NaN
711,Afghanistan,4.9,22,NaN,0,9,NaN,NaN,60,NaN
730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN

In [165]:
pab=test.loc[[601]]
for i in range(1,len(lister)-1):
    pab[lister[i]]=pab[lister[i]].str.strip('/')
pab

AttributeError: Can only use .str accessor with string values!

In [141]:
Raw

,Country (Epicenter),Mw/ ML,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed,Financial losses ($)
0,Italy,4.1,17,V,0,0,0,7,0,NaN
1,Mexico,4.2,5,NaN,0,0,0,8,0,NaN
2,China,5.3,15,VII,0,1,251,753,44,2700000.0
3,Japan,5.0,10,6-,0,3,0,7,0,NaN
4,Albania,4.8,28,NaN,0,0,0,5,0,NaN
...,...,...,...,...,...,...,...,...,...,...
732,Italy,4.9,1,VIII,0,28,1096,5048,505,NaN
733,Venezuela,5.5,10,VII,NaN,NaN,NaN,100,NaN,NaN
734,Indonesia,5.7,41,NaN,0,0,0,5,0,NaN
735,Mexico,4.2,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
736,Thailand,4.9,NaN,NaN,0,0,0,1,0,NaN

In [144]:
a = "/4600"
b = a.strip("/")
print (b)

4600